/iot-gateway-server/node_modules
/iot-gateway-server/db_connection.js
/iot-gateway-server/package-lock.json
/iot-gateway-server/package.json


/mongodb_iot_smartgarden_user.jpg
/url_connect_nodejs.txt