/frontend/web/node_modules
/backend/.env
/backend/node_modules
/backend/db_connection.js
/backend/package-lock.json
/backend/package.json
/backend/api/server.js
/backend/broker/db_connect.js
/backend/broker/package.json
/Document/mongodb_iot_smartgarden_user.jpg
/Document/url_connect_nodejs.txt
